doctype html
include _head.pug
include _mixins.pug
body
  header
    nav
      h3 Navigation
      ul
        +eli("github")
        +eli("facebook")
        +eli("youtube")
  main
    pre=memixx
  iframe(src="https://pugjs.org/api/getting-started.html", height="1000", width="1320")

